<!DOCTYPE html>
<html>
	<head>
		<!-- TITLE OF THE PAGE-->
		<title>ASR IIITDwd</title>

		<!--Meta Information-->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		<!--SCRIPTS-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script type="text/javascript" src="static/js/getAudioDevices.js"></script>
		<script type="text/javascript" src="static/js/sendText.js"></script>
		<script type="text/javascript" src="static/js/writeToFile.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!-- 	<script type="text/javascript" src="{{url_for('static',filename='/js/index.js')}}"></script>
	<script type="text/javascript" src="{{url_for('static',filename='/js/axios.min.js')}}"></script>
 		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	 	<script type="text/javascript" src="{{ url_for('static',filename='/js/record.js')}}"></script>
 -->		
		<!--CSS-->
		<link href="{{url_for('static',filename='/css/tailwind.css')}}" type="text/css" rel="stylesheet">
		<link href="{{url_for('static',filename='/css/support.css')}}" type="text/css" rel="stylesheet">
			
		<link href="{{url_for('static',filename='/css/carousel.css')}}" type="text/css" rel="stylesheet">
		<link href="{{url_for('static',filename='/css/footer.css')}}" type="text/css" rel="stylesheet">
		<link href="{{url_for('static',filename='/css/index.css')}}" type="text/css" rel="stylesheet">
		<link href="{{url_for('static',filename='/css/speech2text.css')}}" type="text/css" rel="stylesheet">
		
		<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
	</head>

	<body>
		<section class="left"></section>
		<section class="centre">
			<div class="title">
				<h1 >Indian Institute of Information Technology, Dharwad</h1>
			</div>
			<hr>
			<!--Page Main Cntent-->
			<main class="main">
				<!--This is a main title of the page-->
				<div class="mainTitle">
					<h2>Conversational AI Assistant</h2>
				</div>
				<br>

				<!--This section shows all the interactive buttons to upload the file and get the response-->
				<section class="audioStream">
					<form class="audioForm" name="audioForm" id="audioForm">
						<br><br>
						<input type="button" class="recordButton" name="recordButton" id="recordButton" value="START">
						<input type="button" name="stopRecording" class="stopRecording" id="stopRecording" value="STOP">
						<!--<button class="stopRecording" name="stopRecording" id="stopRecording">Stop Recording</button> <br><br>-->
						<audio controls class="audioSRC1" name="audioSRC1" id="audioSRC1" hidden></audio>

						<div>
							<audio id="player" controls hidden></audio>
							</div>
								<div class="flex justify-center">
									<a class="font-medium text-indigo-600 hover:text-indigo-500" id="download" hidden>Download</a>
								</div>
							</div>
						</div>
					</form>

					<!--This form is used to upload the pre-recorded audio file from the browser for processing and generate the response-->
					<div class="">
						<form method='post' enctype='multipart/form-data' action="/asr">
							<!-- <input  type='file' id="file" name='file'> -->
							<br>
							<input class='uploadButton' id='uploadButton' type='submit' value='Upload' hidden>
						</form>
					</div>
				</section>

				<!--This section will display the reponse form the system-->
				<section class="convertedText">
					<div class="">
						<p class="" id="output" class="output" style="font-size: 2.2em">{{output}}</p>
						<button class="demo" id="demo" name="demo">Response</button> <br>
						<p id="demo1" name="demo1" style="font-size: 2.2em"></p>
					</div>

					<!--This audio element will get the audio file generated by TTS modue and will play it aloud-->
					<audio id='playAudio' src="{{url_for('static', filename='audio/new.wav')}}" type="audio/wave" controls hidden>
						Your browser does not support the audio element.
					</audio>
				</section>
			</main>
		</section>
		<section class="right"></section>
		<script>
			//$(document).ready(function(){
				'use strict';
				document.getElementById("demo").addEventListener("click", myFunction);
				document.getElementById('uploadButton').addEventListener("click", asr);

				function asr()
				{
					var form = new FormData();
				    $.ajax({
				        type: 'POST',
				        url: '/asr',
				        data: form,
				        cache: false,
				        processData: false,
				        contentType: false,
				        success: function (response) {
				            console.log('Response from ASR: ' +response);
				        },
				        error: function (error) {
				            console.log(error);
				        }
				    });
				}

				function myFunction()
				{
					const requestBodyInJsonFormat = JSON.stringify({
					"sender": "test_user",  
					"message": document.getElementById('output').innerHTML
					});

					const res =  axios.post('https://10.0.16.86:5005/webhooks/rest/webhook', requestBodyInJsonFormat)
					.then(response => {
					console.log(response.data[0].text);
					document.getElementById("demo1").innerHTML = JSON.stringify(response.data[0].text);

					const rdata = JSON.stringify({
						"message": response.data[0].text
					});
					console.log('New Data: ', response.data[0].text);
					console.log('New Data: ', response.data[1].text);
					console.log('New Data: ', response.data[2].text);

						$.ajax ({
							type: 'POST',
							contentType: "application/json",
							url: '/tts',
							async: true,
							crossDomain: true,
							data:rdata,
							dataType: "json",
							success: function(){
								let audio = document.getElementById('playAudio');
								audio.src = '{{url_for('static', filename='new.wav')}}'
								audio.play();
							}
						})
					});
				}

				let startButton = document.getElementById('recordButton');
				let stopButton = document.getElementById('stopRecording');
				let audioPlayer = document.getElementById('player');
				let downloadLink = document.getElementById('download');
				stopButton.disabled = true;
				let recordedChunks = [];

				function sendData(blob, nameoffile) {
				    var form = new FormData();
				    form.append('file', blob);
				    form.append('fname', nameoffile);
				    $.ajax({
				        type: 'POST',
				        url: '/uploadAudio',
				        data: form,
				        cache: false,
				        processData: false,
				        contentType: false,
				        success: function (response) {
				            console.log('Response from server: ' +response);
				            let clickButton = document.getElementById('uploadButton');
				    		clickButton.click();
				        },
				        error: function (error) {
				            console.log(error);
				        }
				    });
				}

				startButton.addEventListener('click', () => {
					console.log("Recording...")
				    startButton.disabled = true;
				    stopButton.disabled = false;
				    recordedChunks = [];
				    mediaRecorder.start();
				});

				stopButton.addEventListener('click', () => {
					console.log("Recording stopped...")
				    stopButton.disabled = true;
				    startButton.disabled = false;
				    mediaRecorder.stop();
				    
				    mediaRecorder.addEventListener('dataavailable', (e) => {
				        recordedChunks.push(e.data);
				        if (mediaRecorder.state == "inactive") {
				            let blob = new Blob(recordedChunks, { type: "audio/ogg" });
				            const audioBlob = blob
				            const audioUrl = URL.createObjectURL(audioBlob);
				            audioPlayer.controls = true;
				            audioPlayer.src = audioUrl;
				            downloadLink.href = audioUrl;
				            let nameoffile = new Date().toISOString() + '.ogg'
				            downloadLink.download = nameoffile;
				            sendData(blob, nameoffile);
				        }
				    });
				});

				var md = navigator.mediaDevices;
				md.getUserMedia({
				    audio: true,
				}).then(function(speechRecorder){
					mediaRecorder = new MediaRecorder(speechRecorder);
				}).catch((err) => {
				    startButton.disabled = false;
				    stopButton.disabled = true;
				});
			//});
		</script>
	</body>
</html>